*{
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    min-height:100%;
    position: relative;
}

body {
    font-family: sans-serif;
    background-color: azure;
}

.header {
    background: rgb(3,0,47);
    background: linear-gradient(0deg, rgba(3,0,47,1) 0%, rgb(0, 8, 85) 100%);
    background-size: cover;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

.logo {
    margin: -8%;
    width: 40%;
    filter: brightness(1.5);
    position: relative;
}

.container {
    display: block;
    flex-direction: column;
    width: 100%;
}

/* Aqui começa a barra de navegação */

.navbar {
    display: flex;
    border-radius: 0 30px 30px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 18px 0;
}

.nav-list li {
    margin: 15px 0;
}

.nav-list a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 0 5px;
    background: rgb(3,0,47);
    background: linear-gradient(0deg, rgba(3,0,47,1) 0%, rgba(0,8,78,1) 100%);
    padding: 8px;
    border-radius: 7px;
}

/* Aqui começa a lista de conteúdos */

.content {
    display: block;
    color: white;
    font-style: italic;
    padding: 20px 0;
    background: rgb(3,0,47);
    background: linear-gradient(0deg, rgba(3,0,47,1) 0%, rgba(0,8,78,1) 100%);
    text-align: center;
    margin: 10px;
    border-radius: 13px;
}

.content p {
    padding: 10px;
}

.content .presentation-item {
    width: 50%;
    margin-top: 10px;
}

.presentation-list {
    display: flex;
    list-style: none;
}

/* Aqui começa o Rodapé */

footer {
    color: white;
    background: rgb(1, 0, 7);
    background: linear-gradient(0deg, rgb(23, 19, 70) 0%, #5214cc 100%);
    margin-top: 30%;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    clear: both;
}

.footer-list {
    display: flex;
    padding: initial;
    list-style: none;
    justify-content: center;
}

.footer-list li {
    margin: 5px;
    align-self: center;
}

.social-icons {
    height: 33px;
}

/* Aqui começa a seção "quem somos" */

.content-quem-somos h2{
    display: block;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 0 40px;
    border-radius: 10px;
    background: rgb(3,0,47);
    background: linear-gradient(0deg, rgba(3,0,47,1) 0%, rgba(0,8,78,1) 100%);
}

.content-quem-somos {
    text-align: center;
    margin: 0 25px;
}

.video {
    width: 80%;
    height: 350px;
}

/* Aqui começa a seção "servicos" */

.content-servicos h2 {
    color:black;
    font-size: 50px;

}

.services-list {
    color:black;
    font-size: 20px;
}


.content-servicos {
    display: block;
    color: white;
    font-style: italic;
    padding: 20px 0;
    text-align: center;
    margin: 10px;
    border-radius: 13px;
}

.services-list {
    list-style: none;
}

.services-img {
    width: 40%;
}

.services-list li{
    background-color: #5214cc;
    margin: 40px;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 15px;
    background: rgb(3,0,47);
    background: linear-gradient(0deg, rgba(3,0,47,1) 0%, rgba(0,8,78,1) 100%);
}