* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(background.png);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

.content .logotipo{
    margin-top: 40px;
    margin-bottom: 15px;
    width: 80px;
}

.content h2 {
    margin-top: 15px;
}

.content h3 {
    margin: 35px 0 20px 0;
}

/* Propriedades do Formulário */

.inputName {
    width: 80%;
    height: 35px;
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 7px;
}

.inputEmail {
    width: 80%;
    height: 35px;
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
}

.divCheckbox {
    display: block;
    font-size: small;
    padding: 25px 10%;
}

.button {
    background-color:rgb(26, 133, 240);
    color: white;
    font-size: 15px;
    margin-top: 10px;
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(21, 112, 202);
}